body {
    --color-main: #c4896c;
    --color-main-2: #d7a48a;
}

html body {
    background: #fff;
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55;
    margin: 0;
    padding: 0;
    min-width: 360px;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.container-big {
    width: auto;
    margin: 0 auto;
    max-width: 1800px;
    box-sizing: border-box;
    padding: 0 20px;
}

#header {
    position: relative;
    z-index: 2;
}

body.has-sidebar #content {
    background: #f5e7e0;
    position: relative;
    z-index: 1;
}
body.has-sidebar #content > .container {
    display: flex;
    flex-wrap: nowrap;
}
body.has-sidebar #content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #fff;
    z-index: -2;
}
body.has-sidebar #center {
    background: #fff;
}

body.has-sidebar #center .container {
    margin: 0;
}

#center {
    width: 100%;
    min-width: 0;
    padding-right: 140px;
}
#right {
    width: 360px;
    min-width: 360px;

    background: #f5e7e0;
}


#center .container {
    width: auto;
}

.only-desktop {
    display: block;
}
.only-table {
    display: none;
}
.only-mobile {
    display: none;
}

.only-tablet-or-mobile {
    display: none;
}
.only-desktop-or-tablet {
    display: block;
}

input, select, a, span, textarea, button {
    outline: none !important;
}

svg {
    display: block;
}

h1 {
    margin: 0 0 35px;
    font-size: 65px;
    text-transform: none;
    font-weight: 300;
    line-height: 1.2;
    color: #cb7457;
}
h2, .h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0;
    text-transform: none;
    line-height: 1.25;
    color: #cb7457;
}
h2:first-child, .h2:first-child {
    margin-top: 0;
}
h2:last-child, .h2:last-child {
    margin-bottom: 0;
}

h3, .h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0;
    text-transform: none;
    line-height: 1.25;
}
h3:first-child, .h3:first-child {
    margin-top: 0;
}
h3:last-child, .h3:last-child {
    margin-bottom: 0;
}

h4, .h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: none;
    line-height: 1.25;
}
h4:first-child, .h4:first-child {
    margin-top: 0;
}
h4:last-child, .h4:last-child {
    margin-bottom: 0;
}

h5, .h5 {
    font-size: 16px;
    font-weight: 900;
    margin: 15px 0;
    text-transform: uppercase;
    line-height: 1.25;
    border-bottom: 2px solid #c8c8c8;
    padding-bottom: 12px;
}
h5:first-child, .h5:first-child {
    margin-top: 0;
}
h5:last-child, .h5:last-child {
    margin-bottom: 0;
}

a {
    color: #000;
    text-decoration: underline;
}
p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
b, strong {
    font-weight: bold;
}


.html-text {
    font-size: 20px;
}
.html-text:after {
    content: '';
    clear: both;
    display: table;
}
.html-text a {
    color: var(--color-main);
    text-decoration: underline;
}

.html-text .image-left {
    float: left;
    padding: 0 30px 30px 0;
}
.html-text .image-left img {
    display: block;
}

.html-text .image-right {
    float: right;
    padding: 0 0 35px 40px;
}
.html-text .image-right img {
    display: block;
}

.html-text li {
    margin-bottom: 17px;
    position: relative;
    left: 1em;
    padding-right: 1em;
}
.html-text li:last-child {
    margin-bottom: 0;
}

.html-text ul {
    list-style: none;
    margin: 0 0 15px 5px;
}
.html-text ul:last-child {
    margin-bottom: 0;
}
.html-text ul > li:before {
    content: "\2022";
    color: var(--color-main);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: -5px;
}
.html-text li > ul {
    margin-top: 8px !important;
    margin-left: 15px !important;
}

.html-text ol {
    list-style: none;
    margin: 0 0 15px 1em;
}
.html-text ol:last-child {
    margin-bottom: 0;
}
.html-text ol > li {
    counter-increment: li;
}
.html-text ol > li:before {
    content: counter(li);
    color: #5fb300;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: relative;
    left: -3px;
    font-weight: 500;
    text-align: center;
    padding-right: 5px;
}

.html-text ol[type] {
    margin: 0;
    padding: 0;
    counter-reset: list;
}
.html-text ol[type="a"] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha);
    color: #05aef0;
}
.html-text ol[type="i"] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman);
    color: #05aef0;
}
.html-text ol[type="I"] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman);
    color: #05aef0;
}

.html-text li > ol {
    margin-top: 8px !important;
    margin-left: 15px !important;
}

.html-text h2 {
    font-weight: 300;
    font-size: 50px;
    color: #cb7457;
    letter-spacing: -2px;
    line-height: 1.2;
    margin: 0 0 30px;
}
.html-text h3 {
    font-weight: 300;
    font-size: 35px;
    color: #cb7457;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0 0 30px;
}

.html-text .box {
    margin-bottom: 50px;
}
.html-text .box:last-child {
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.flex-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.flex-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-column {
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-group:last-child {
    margin-bottom: 0;
}

[data-ui-dialog] {
    display: none;
}

.page {
    margin: 50px 0;
}

.block {
    margin: 100px 0;
}
.block-title {
    font-size: 70px;
    font-weight: 300;
    color: #cb7457;
    line-height: 1.35;
    letter-spacing: -3px;
}

button, .button {
    padding: 0 36px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-family: "Museo Sans Cyrl", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: #ffcdb4;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    color: #8d4732;
}
.button {
    display: inline-block;
}
button:hover, .button:hover {
    background: #f0b99d;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #111;
    height: 70px;
    box-sizing: border-box;
    padding: 0 23px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    color: #000;
    background: none;
    font-weight: 500;
    border-radius: 0;
    background: #fff;
}
input[type="text"]::placeholder {
    color: #000;
    opacity: 1;
}

textarea {
    width: 100%;
    border: 1px solid #111;
    box-sizing: border-box;
    padding: 20px 23px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    color: #000;
    background: #fff;
    font-weight: 500;
    border-radius: 0;
    display: block;
}
textarea::placeholder {
    color: #000;
    opacity: 1;
}

.hidden {
    display: none;
}

.header-block {
    border-bottom: 1px solid var(--color-main);
}
body.is-home-page .header-block {
    border: none;
}

.header-block .logo {
    text-decoration: none;
}
.header-block .logo img {
    display: block;
    margin-right: 18px;
}
.header-block .logo .name {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.header-block .phone {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #000;
    display: block;
    line-height: 1.5;
}
.header-block .phone:hover {
    text-decoration: underline;
}

.header-block .menu > li {
    margin-right: 1px;
    position: relative;
}
.header-block .menu > li:last-child {
    margin-right: 0;
}

.header-block .menu > li:hover > a,
.header-block .menu > li.active > a {
    background: #faece5;
}

.header-block .menu > li > a {
    display: block;
    line-height: 90px;
    font-weight: 500;
    color: #a54529;
    text-decoration: none;
    padding: 0 30px;
}

.header-block .menu > li > ul {
    display: none;

    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    min-width: 100%;
    background: #fff;

    box-shadow: 0 0 24px 0 rgba(221, 91, 28, 0.18);
}
.header-block .menu > li:hover > ul {
    display: block;
}

.header-block .menu li > ul > li {
    border-bottom: 1px solid #e8dbd4;
}
.header-block .menu li > ul > li:last-child {
    border: none;
}

.header-block .menu li > ul > li > a {
    display: block;
    padding: 14px 30px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}
.header-block .menu li > ul > li.active > a,
.header-block .menu li > ul > li:hover > a {
    background: #fbefea;
}

.header-block .order {
    text-decoration: none;
    font-weight: 600;
    color: #8d4732;
    padding: 0 22px;
    line-height: 56px;
    background: #ffcdb4;
    border-radius: 100px;
    margin: 0 40px;
}
.header-block .order:hover {
    background: #ffb793;
}

.slider-block .item {
    position: relative;
    z-index: 1;
}
.slider-block .item .img img {
    width: 100%;
    height: auto;
    display: block;
}
.slider-block .item .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-block .item .info {
    background-color: rgba(255, 255, 255, 0.749);
    padding: 80px;
    box-sizing: border-box;
    width: 645px;
}
.slider-block .item .info .header-text {
    font-weight: 500;
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
    line-height: 1.3;
}
.slider-block .item .info .title {
    font-weight: 300;
    font-size: 50px;
    line-height: 1.07;
    margin-bottom: 40px;
    letter-spacing: -2.4px;
}
.slider-block .item .info .text {
    font-size: 26px;
    line-height: 1.48;
    letter-spacing: -0.7px;
}
.slider-block .item .info .more a {
    margin-top: 15px;
    line-height: 70px;
    display: block;
    color: #a54529;
    background: #ffcdb4;
    text-decoration: none;
    padding: 0 40px;
    border-radius: 100px;
    font-weight: bold;
}
.slider-block .item .info .more a:hover {
    background: #ffb793;
}

.slider-block .slider {
    position: relative;
}
.slider-block .prev,
.slider-block .next {
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}
.slider-block .prev svg,
.slider-block .next svg {
    width: 34px;
    height: 34px;
}

.slider-block .next {
    left: auto;
    right: 40px;

    transform: rotate(180deg);
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

button.owl-dot {
    width: auto;
    height: auto;
    background: none;
    border: none;
    text-indent: -9999px;
    display: block;
    padding: 0;
    margin: 0 10px;
}
button.owl-dot span {
    display: block;

    width: 9px;
    height: 9px;
    border-radius: 100px;
    background: #a74a2c;
    border: 4px solid #fff;
}
button.owl-dot.active span {
    border: 3px solid #a74a2c;
    background: #fff;
}

.services-block {
    margin-top: 50px;
}
.services-block .header .text {
    width: 795px;
    font-weight: 500;
    font-size: 24px;
    margin: 30px 0 0;
    line-height: 1.7;
}
.services-block .header {
    margin: 0 0 150px;
}

.services-block .items {
    width: 75%;
    position: relative;
    z-index: 3;
}
.services-block .item {
    width: 33.333%;
    position: relative;
    text-decoration: none;
}
.services-block .item span {
    display: block;
}
.services-block .item .img {
    margin-left: -1px;
    margin-bottom: -1px;
}
.services-block .item .name {
    position: absolute;
    left: 40px;
    top: 35px;
}
.services-block .item .name {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.7px;
}
.services-block .item .img img {
    display: block;
    width: 100%;
    height: auto;
}

.services-block .content {
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}
.services-block .content:after {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 0;
    background: var(--color-main);
    z-index: -1;
}

.services-block .content .title {
    position: absolute;
    right: 75%;
    top: -120px;
    background: var(--color-main-2);
    width: 820px;
    height: 820px;
    border-radius: 1000px;
    margin-right: -410px;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.services-block .content .title span {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70px;
    font-weight: 300;
    color: #ffffff;
    transform: rotate(-90deg);
    position: relative;
    left: -200px;
    letter-spacing: -1px;
}

.out-target-block {
    padding-top: 130px;
    min-height: 840px;
    box-sizing: border-box;
    position: relative;

    background: url(../img/target.jpg) no-repeat right top;
}
.out-target-block:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    background: #fff;
    height: 130px;
    z-index: 1;
}
.out-target-block .text {
    font-size: 30px;
    margin: 65px 0 0 165px;
    letter-spacing: -0.91px;
    max-width: 550px;
    font-weight: normal;
}
.out-target-block .text p {
    margin-bottom: 40px;
}
.out-target-block .text p:last-child {
    margin-bottom: 0;
}

.doctors-block .nav a {
    text-decoration: none;
    margin-right: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.doctors-block .nav a:last-child {
    margin-right: 0;
}
.doctors-block .nav svg {
    width: 113px;
    height: 20px;
    fill: var(--color-main)
}
.doctors-block .nav .next {
    transform: rotate(-180deg);
}

.doctors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.doctors-list:not(.owl-carousel) {
    margin-right: -80px;
}

.doctors-list-item {
    width: 480px;
    color: #ffffff;
    background: var(--color-main);
    box-sizing: border-box;
    position: relative;
    margin-right: 80px;
    margin-bottom: 80px;
}
.doctors-list-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #fff;
    z-index: 1;
}
.doctors-list-item .experience {
    color: #efd7cb;
    font-size: 16px;
    text-transform: uppercase;
    margin: 12px 0;
}
.doctors-list-item .img {
    position: relative;
    z-index: 2;
    margin-right: 37px;
    left: 23px;
}
.doctors-list-item .img a {
    display: block;
    position: relative;
}
.doctors-list-item .img a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/frame.png) no-repeat;
    z-index: 1;
}
.doctors-list-item .img img {
    display: block;
    width: auto;
    height: auto;
}

.doctors-list-item .info {
    margin-top: -40px;
    padding: 0 40px 25px;
    position: relative;
    z-index: 3;
}
.doctors-list-item .info .name {
    margin-bottom: 12px;
}
.doctors-list-item .info .name a {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.doctors-list-item .info .name a:hover {
    text-decoration: underline;
}
.doctors-list-item .more svg {
    width: 80px;
    height: 38px;
    fill: #fff;
}
.doctors-list-item .more {
    margin: 25px;
}
.doctors-block .block-header {
    margin-bottom: 45px;
}

.owl-carousel .doctors-list-item {
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.doctors-list .owl-stage {
    display: flex;
    justify-content: flex-start;
}
.doctors-list .owl-item {
    display: flex;
}

.news-block {
    margin: 240px 0 80px;
    background: var(--color-main);
    position: relative;
    z-index: 1;
}
.news-block:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: #fff;
    z-index: -1;
}

.news-block .inner {
    position: relative;
    z-index: 1;
    padding-top: 50px;
}
.news-block .inner .circle {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.news-block .inner .circle:after {
    content: '';
    position: absolute;
    width: 720px;
    height: 720px;
    right: -75px;
    top: -90px;
    background: var(--color-main-2);
    border-radius: 1000px;
}
.news-block .block-title {
    color: #fff;
}
.news-block .all-link {
    margin-right: 80px;
}
.news-block .all-link svg {
    width: 34px;
    height: 20px;
    fill: #fff;
    margin-left: 14px;
}
.news-block .all-link a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.news-block .all-link a:hover {
    text-decoration: underline;
}
.news-block .block-header {
    margin-bottom: 32px;
}

.news-block .owl-stage {
    display: flex;
    justify-content: flex-start;
}
.news-block .owl-item {
    display: flex;
    padding-bottom: 20px;
}

.news-block .news-grid-item {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(173, 67, 16, 0.1);
}

.news-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.news-grid-item {
    background: #fff;
    margin-right: 80px;
    width: 480px;
    box-sizing: border-box;
    padding: 40px;

    box-shadow: 0px 0px 73px 0px rgba(173, 67, 16, 0.13);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-grid-item:last-child {
    margin-right: 0;
}
.news-grid-item .date {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 14px;
}
.news-grid-item .name {
    margin-bottom: 35px;
    min-height: 117px;
}
.news-grid-item .name a {
    font-size: 30px;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    text-decoration: none;
}
.news-grid-item .name a:hover {
    text-decoration: underline;
}
.news-grid-item .text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7
}
.news-grid-item .more {
    margin-top: 35px;
}
.news-grid-item .more svg {
    width: 80px;
    height: 38px;
    fill: var(--color-main);
}

body.is-home-page .footer-block {
    border: none;
    padding-top: 0;
}

body.has-sidebar .footer-block {
    margin-top: 0;
}

.footer-block {
    margin-top: 80px;
    padding: 70px 0;
    border-top: 1px solid var(--color-main);
}
.footer-block .inner {
    flex-wrap: nowrap;
}
.footer-block .logo-and-copyright {
    margin-top: 5px;
    width: 560px;
    min-width: 560px;
}
.footer-block .logo {
    text-decoration: none;
}
.footer-block .logo img {
    display: block;
}
.footer-block .logo .name {
    display: block;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 3px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}
.footer-block .copyright {
    font-size: 16px;
    font-weight: 500;
    max-width: 400px;
    color: #8e8e8e;
}
.footer-block .contacts {
    width: 320px;
    min-width: 320px;
}
.footer-block .menus {
    width: 100%;
    min-width: 0;
}
.footer-block .menu {
    width: 50%;
}
.footer-block .menus .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-main);
    margin-bottom: 17px;
}
.footer-block .menus a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
.footer-block .menus a:hover {
    text-decoration: underline;
}
.footer-block .menus li {
    margin-bottom: 13px;
}
.footer-block .menus li:last-child {
    margin-bottom: 0;
}
.footer-block .phone a {
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    display: block;
    line-height: 1.2
}
.footer-block .phone a:hover {
    text-decoration: underline;
}
.footer-block .instagram {
    text-decoration: none;
}
.footer-block .instagram svg {
    width: 42px;
    height: 42px;
}

.page-info-block {
    background: var(--color-main);
    color: #fff;
    margin-top: -1px;
    position: relative;
    z-index: 1;
}
.page-info-block .inner {
    min-height: 530px;
    position: relative;
    z-index: 1;
}
.page-info-block .info {
    padding: 58px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.page-info-block .text {
    font-size: 23px;
    letter-spacing: -0.2px;
    margin-top: 40px;
    line-height: 1.6;
}
.page-info-block .text p {
    margin-bottom: 25px;
}
.page-info-block .text p:last-child {
    margin-bottom: 0;
}
.page-info-block .doctor-img {
    position: absolute;
    top: 0;
    right: -70px;
    z-index: -1;
}
.page-info-block .doctor-img img {
    display: block;
}
.page-info-block .doctor-img:after {
    content: '';
    position: absolute;
    background: url(../img/frame3.png) no-repeat;
    width: 980px;
    height: 564px;
    top: 0;
    right: 0;
}

body.is-contacts-page .page-info-block .inner:after {
    content: '';
    position: absolute;
    right: -84px;
    top: 0;
    height: 564px;
    width: 1407px;

    background: url(../img/contacts.png) no-repeat top;
}

.page-info-block h1 {
    font-size: 70px;
    margin: 0;
    color: #ffffff;
    font-weight: 300;
}

.page-info-block .breadcrumb {
    color: #ffffff;
    margin: 0 0 30px;
}
.page-info-block .breadcrumb a {
    color: #ffffff;
}

.breadcrumb {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px 0 20px;
}
.breadcrumb a {
    color: #000;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb li {
    display: flex;
    align-items: center;
}
.breadcrumb li:after {
    content: '|';
    display: block;
    margin: 0 15px;
}
.breadcrumb li:last-child:after {
    display: none;
}

#right .right-menu-block {
    padding: 80px 0;
}

#right .right-menu-block a {
    padding-left: 65px;
}

.right-menu-block a {
    color: #8d4732;
    text-decoration: none;
    padding: 7px 12px;
    line-height: 1.4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.right-menu-block a.active,
.right-menu-block a:hover {
    background: var(--color-main);
    color: #ffffff;
}
.right-menu-block li {
    margin-bottom: 20px;
}
.right-menu-block li:last-child {
    margin-bottom: 0;
}

.right-menu-block li li {
    margin-bottom: 7px;
}
.right-menu-block li li:last-child {
    margin-bottom: 0;
}
.right-menu-block li li a {
    padding-left: 100px;
    color: #fb3e05;
}
.right-menu-block li ul {
    margin-top: 15px;
    display: none;
}
.right-menu-block li.open ul {
    display: block;
}
.right-menu-block svg {
    width: 20px;
    height: 20px;
    fill: var(--color-main);
    margin-left: 12px;
}
.right-menu-block a.active svg,
.right-menu-block a:hover svg {
    fill: #ffffff;
}
.right-menu-block li.open > a > svg {
    transform: rotate(45deg);
}

.svg-contacts-phone {
    width: 55px;
    height: 56px;
}
.svg-contacts-mail {
    width: 81px;
    height: 43px;
}
.svg-contacts-instagram {
    width: 42px;
    height: 42px;
}

.contacts-block {
    background: var(--color-main);
    color: #ffffff;
    margin: 130px 0 90px;
    box-sizing: border-box;
    padding: 40px;
}
.contacts-block .item .value {
    font-weight: 500;
    font-size: 30px;
}
.contacts-block .item .value a {
    color: #ffffff;
    text-decoration: none;
}
.contacts-block .item .value a:hover {
    text-decoration: underline;
}
.contacts-block .item .value .sep {
    margin: 0 15px;
}
.contacts-block svg {
    fill: #fff;
}
.contacts-block .item .icon {
    width: 82px;
    height: 82px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts-block .item {
    margin-bottom: 20px;
}
.contacts-block .item:last-child {
    margin-bottom: 0;
}
.contacts-block .item .icon {
    margin-right: 40px;
}

.contacts-place-block {
    margin-bottom: 100px;
}
.contacts-place-block .title {
    font-size: 50px;
    color: var(--color-main);
    font-weight: normal;
    margin-bottom: 63px;
    position: relative;
}
.contacts-place-block .title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 28px;
    height: 2px;
    background: #000;
    width: 60px;
}
.contacts-place-block .address,
.contacts-place-block .metro {
    font-size: 22px;
    margin-bottom: 3px;
}
.contacts-place-block .metro {
    margin-bottom: 28px;
}
.contacts-place-block .map {
    height: 480px;
    background: #eee;
}

body.is-service-page .page-info-block .inner:after {
    content: '';
    position: absolute;
    right: -84px;
    top: 0;
    height: 564px;
    width: 979px;

    background: url(../img/service.png) no-repeat top;
}

.service-info-block {
    margin: 80px 0;
}
.service-info-block .text {
    line-height: 1.7;
}

.inline-links {
    margin-bottom: 47px;
}
.inline-links a {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-main);
    border: 1px solid var(--color-main);
    text-decoration: none;
    display: block;
    line-height: 69px;
    padding: 0 48px;
    border-radius: 100px;
    margin-right: 20px;
}
.inline-links a:last-child {
    margin-right: 0;
}
.inline-links a:hover {
    background: var(--color-main);
    color: #fff;
}

.service-info-block .box {
    margin-bottom: 44px;
}
.service-info-block .box:last-child {
    margin-bottom: 0;
}
.service-info-block .title {
    font-weight: 300;
    font-size: 50px;
    color: var(--color-main);
    letter-spacing: -2px;
    line-height: 1.2;
    margin: 0 0 30px;
}

.block-header.has-bg {
    background: url(../img/service-bg.jpg) no-repeat right;
    height: 450px;
    box-sizing: border-box;
    margin: 0 -140px 0 -500px;
    padding: 40px 140px 40px 500px;
}
.block-header.has-bg .title {
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
}

body.is-service-page #content {
    overflow: hidden;
}

.service-departments-block .items {
    margin: 45px -80px 20px 0;
}
.service-departments-block .item {
    margin: 40px 0;
    width: 50%;
    box-sizing: border-box;
    padding-right: 80px;
}
.service-departments-block .item .name {
    font-size: 26px;
    padding-left: 80px;
    letter-spacing: -0.8px;
    position: relative;
    margin-bottom: 36px;
    line-height: 1.45;
}
.service-departments-block .item .name:after {
    content: '';
    position: absolute;
    left: 0;
    top: 18px;
    background: var(--color-main);
    height: 4px;
    width: 50px;
}
.service-departments-block .item .text {
    font-size: 17px;
    padding-left: 80px;
}
.service-departments-block .footer {
    margin: 70px 0 0;
}
.service-departments-block .footer .title {
    font-weight: normal;
    font-size: 30px;
    color: var(--color-main);
    margin-bottom: 20px;
}
.service-departments-block .footer .text {
    font-size: 20px;
    line-height: 1.7;
}

.service-price-block .block-header {
    background-image: url(../img/service-price-bg.jpg);
    margin-bottom: 50px;
}
.service-price-block .block-header .title {
    color: #cb7457;
}

.service-doctors-block .block-header {
    background-image: url(../img/service-doctors-bg.jpg);
    margin-bottom: 50px;
}

.service-doctors-block {
    margin-bottom: 130px;
}
.service-doctors-block .items {
    margin-top: 128px;
}
.service-doctors-block .item {
    border-top: 1px solid var(--color-main);
    border-bottom: 1px solid var(--color-main);
    position: relative;
    margin-bottom: 110px;
}
.service-doctors-block .item:last-child {
    margin-bottom: 0;
}
.service-doctors-block .item:after {
    content: '';
    position: absolute;
    width: 105px;
    height: 1px;
    left: 0;
    bottom: -1px;
    background: var(--color-main);
}
.service-doctors-block .item .info {
    width: 100%;
    min-width: 0;
}
.service-doctors-block .item .img {
    width: 320px;
    min-width: 320px;
    margin: -12px 80px -64px 0;
}
.service-doctors-block .item .img a {
    display: block;
    width: 297px;
    height: 313px;
    position: relative;
    margin: 0 0 0 28px;
}
.service-doctors-block .item .img a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/frame2.png) no-repeat left top;
}
.service-doctors-block .item .img img {
    display: block;
}
.service-doctors-block .item .name {
    font-size: 28px;
    margin-bottom: 16px;
}
.service-doctors-block .item .name a {
    color: #000000;
    text-decoration: none;
}
.service-doctors-block .item .name a:hover {
    text-decoration: underline;
}
.service-doctors-block .item .experience {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 16px 0;
}
.service-doctors-block .item .work {
    font-size: 18px;
}
.service-doctors-block .item .more {
    width: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
}
.service-doctors-block .item .more svg {
    width: 74px;
    height: 38px;
    fill: var(--color-main);
}

.prices-box {
    font-size: 20px;
}
.prices-box .item {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #f4eae5;
    padding: 14px 20px;
}
.prices-box .item:last-child {
    border: none;
}
.prices-box .item .name {
    width: 100%;
    min-width: 0;
}
.prices-box .item .price {
    width: 125px;
    min-width: 125px;
    margin-left: 30px;
}

.order-block {
    background: var(--color-main);
    color: #fff;
    padding: 70px;
}
.order-block .text {
    font-size: 35px;
    letter-spacing: -1.5px;
    line-height: 1.35;
    font-weight: 300;
}
.order-block .link a {
    display: block;
    background: #ffcdb4;
    color: #8d4732;
    line-height: 65px;
    padding: 0 38px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
}
.order-block .link a:hover {
    background: #f5bda1;
}

.ui-dialog {
    background: #f8eee9;
    box-sizing: border-box;
    padding: 60px 80px;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    position: static;
}
.ui-dialog .ui-dialog-title {
    padding: 0;
    margin: 0 0 45px;
    width: auto;
    display: block;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -2px;
    float: none;
}
.ui-dialog .ui-dialog-titlebar-close {
    width: 30px;
    height: 30px;
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 20px;
    top: 20px;
}
.ui-dialog .ui-dialog-titlebar-close svg {
    width: 16px;
    height: 16px;
}

form .item-actions {
    margin-top: 40px;
}

.ui-widget-overlay {
    background-color: rgb(77, 70, 67);
    opacity: 0.502;
}

.service-info-block blockquote {
    color: #ffffff;
    background: var(--color-main);
    padding: 60px 90px;
    font-size: 26px;
    line-height: 1.5;
}

.before-after {
    padding: 0 80px;
    background: #f4ebe7;
    position: relative;
    z-index: 1;
}
.before-after:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: -1;
    background: #fff;
}
.before-after .before,
.before-after .after {
    width: calc(50% - 20px);
    min-width: 0;
}
.before-after .name {
    font-size: 26px;
    line-height: 80px;
}
.before-after .img img {
    display: block;
    width: 100%;
    height: auto;
}
.before-after .owl-nav svg {
    width: 38px;
    height: 20px;
    display: block;
}
.before-after .owl-prev {
    transform: rotate(180deg);
}
.before-after .owl-prev,
.before-after .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.before-after .owl-prev {
    position: absolute;
    left: -56px;
    top: 50%;
    margin-top: -10px;
}
.before-after .owl-next {
    position: absolute;
    right: -56px;
    top: 50%;
    margin-top: -10px;
}

.doctor-info-block .back {
    width: 310px;
    min-width: 310px;
}
.doctor-info-block .info {
    width: 100%;
    min-width: 0;
}

.doctor-info-block .back a {
    color: #8d4732;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.doctor-info-block .back a:hover {
    text-decoration: underline;
}
.doctor-info-block .back svg {
    height: 18px;
    width: 35px;
    fill: #8d4732;
    transform: rotate(180deg);
    margin-right: 14px;
}

.doctor-info-block .html-text .box {
    margin-bottom: 70px;
}
.doctor-info-block .html-text .box:last-child {
    margin-bottom: 0;
}
.doctor-info-block .year {
    min-width: 90px;
    margin-right: 8px;
}

.nowrap {
    white-space: nowrap;
}

.service-header-image-block img {
    display: block;
    max-width: 100%;
    height: auto;
}
.service-header-image-block {
    margin-bottom: 50px;
}

.news-list-item {
    padding: 50px 60px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 32px 0 rgba(173, 67, 16, 0.09);
    margin-bottom: 40px;
}
.news-list-item:last-child {
    margin-bottom: 0;
}

.news-list-item .date-and-category {
    color: #8f8f8f;
    font-size: 15px;
    margin-bottom: 15px;
}
.news-list-item .date {
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #bcbcbc;
}
.news-list-item .category a {
    color: #8f8f8f;
    text-decoration: none;
}
.news-list-item .category a:hover {
    text-decoration: underline;
}
.news-list-item .name {
    margin-bottom: 25px;
}
.news-list-item .name a {
    font-size: 30px;
    text-decoration: none;
    display: block;
    line-height: 1.3;
}
.news-list-item .name a:hover {
    text-decoration: underline;
}
.news-list-item .text {
    line-height: 1.7;
}
.news-list-item .more {
    margin-top: 35px;
}
.news-list-item .more svg {
    width: 74px;
    height: 38px;
    fill: var(--color-main);
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 45px 0;
}
.pagination svg {
    width: 34px;
    height: 20px;
    fill: var(--color-main);
}
.pagination .prev {
    transform: rotate(180deg);
    margin-right: 30px;
}
.pagination .next {
    margin-left: 30px;
}
.pagination .item {
    min-width: 44px;
    line-height: 44px;
    padding: 0 5px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    margin: 0 4px;
}
.pagination .item:hover {
    background: var(--color-main-2);
    color: #ffffff;
}
.pagination .item.active,
.pagination .item.active:hover {
    background: var(--color-main);
    color: #ffffff;
}

body.is-service-page #right,
body.is-contacts-page #right {
    margin-bottom: 100px;
}
body.is-service-page #content:before,
body.is-contacts-page #content:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: #fff;
    z-index: -1;
}

@media screen and (min-width: 1280px) and (max-width: 1639px) {
    html body {
        font-size: 16px;
    }

    .container {
        width: auto;
        margin: 0 30px;
    }
    .container .container {
        width: auto;
    }

    .container-big {
        width: auto;
        margin: 0 30px;
        max-width: unset;
        padding: 0;
    }
    .container .container-big {
        width: auto;
    }

    .header-block .phone {
        font-size: 17px;
        line-height: 1.4;
    }
    .header-block .order {
        line-height: 46px;
        margin: 0 20px 0 10px;
    }
    .header-block .menu > li > a {
        padding: 0 15px;
        line-height: 76px;
    }
    .header-block .logo img {
        width: 45px;
        height: 45px;
        margin-right: 12px;
    }
    .header-block .logo .name {
        font-size: 19px;
    }
    .slider-block .item .info .header-text {
        font-size: 22px;
    }
    .slider-block .item .info .title {
        font-size: 40px;
    }
    .slider-block .item .info .text {
        font-size: 22px;
    }
    .slider-block .item .info .more a {
        line-height: 56px;
        padding: 0 25px;
    }
    .slider-block .item .info {
        padding: 45px;
        margin-left: 70px;
    }
    .slider-block .item .info .more a {
        margin-top: 25px;
    }

    .slider-block .prev,
    .slider-block .next {
        width: 50px;
        height: 50px;
    }
    .slider-block .prev {
        left: 10px;
    }
    .slider-block .next {
        right: 10px;
    }
    .slider-block .prev svg,
    .slider-block .next svg {
        width: 24px;
        height: 24px;
    }
    .ui-dialog {
        padding: 40px 50px 50px;
    }
    .ui-dialog .ui-dialog-title {
        font-size: 38px;
    }

    button, .button {
        padding: 0 25px;
        height: 56px;
        line-height: 50px;
        font-size: 16px;
    }
    input[type="text"] {
        font-size: 16px;
        padding: 0 14px;
        height: 56px;
    }
    textarea {
        font-size: 16px;
        padding: 14px;
    }

    .block {
        margin: 50px 0;
    }
    .block-title {
        font-size: 45px;
    }

    .services-block .header .text {
        font-size: 19px;
    }
    .services-block .content {
        padding-bottom: 70px;
    }
    .services-block .content .title span {
        font-size: 60px;
    }
    .out-target-block .text {
        font-size: 22px;
        margin: 35px 0 0 80px;
    }
    .out-target-block:after {
        height: 80px;
        bottom: -1px;
    }
    .out-target-block {
        min-height: 600px;
        background-size: auto 100%;
    }

    .slider-block .item .info {
        margin-left: 70px;
    }
    .slider-block .item .inner {
        justify-content: flex-start;
    }
    .slider-block .item .inner .container {
        margin: 0;
    }

    .doctors-block .nav svg {
        width: 80px;
    }
    .doctors-block .nav a {
        margin-right: 40px;
    }
    .doctors-block .nav a:last-child {
        margin-right: 0;
    }

    .news-block {
        margin-top: 130px;
    }
    .news-grid-item {
        padding: 30px;
    }

    .footer-block .logo-and-copyright {
        width: 350px;
        min-width: 350px;
        margin-right: 40px;
    }
    .footer-block .contacts {
        width: 280px;
        min-width: 280px;
    }

    body.is-contacts-page .page-info-block .inner:after {
        right: -30px;
    }
    body.is-contacts-page .page-info-block .inner:after {
        background-position: right -450px center;
    }

    .contacts-block {
        margin-top: 80px;
    }

    #center {
        padding-right: 70px;
    }

    .contacts-place-block .title {
        font-size: 40px;
    }
    .contacts-place-block .address,
    .contacts-place-block .metro {
        font-size: 19px;
    }
    .contacts-place-block {
        margin-bottom: 70px;
    }

    .svg-contacts-phone {
        width: 45px;
        height: 45px;
    }
    .svg-contacts-mail {
        width: 57px;
        height: 57px;
    }
    .contacts-block .item .icon {
        width: 60px;
        height: 60px;
        margin-right: 30px;
    }
    .contacts-block .item .value {
        font-size: 25px;
    }
    .right-menu-block a {
        font-size: 18px;
    }
    #right .right-menu-block a {
        padding-left: 50px;
    }
    .page-info-block h1 {
        font-size: 60px;
    }
    .page-info-block .text {
        font-size: 22px;
    }

    body.is-service-page .page-info-block .inner:after {
        right: -30px;
    }
    body.is-service-page .page-info-block .inner:after {
        background-position: right -270px center;
    }
    .page-info-block .info {
        max-width: 50%;
    }
    .page-info-block .info .text br {
        display: none;
    }
    .page-info-block .text {
        margin-top: 30px;
    }
    .inline-links a {
        line-height: 56px;
        padding: 0 35px;
    }

    .service-info-block {
        margin: 50px 0;
    }

    .service-departments-block .items {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .block-header.has-bg {
        background: url(../img/service-bg.jpg) no-repeat right;
        height: 450px;
        box-sizing: border-box;
        margin: 0 -70px 0 -30px;
        padding: 40px 70px 40px 30px;
    }
    .service-doctors-block .items {
        margin: 70px 0;
    }
    .service-doctors-block .item .img {
        margin-right: 40px;
    }
    .order-block {
        padding: 50px;
        margin-bottom: 70px;
    }
    .order-block .text {
        font-size: 28px;
        margin-right: 20px;
    }
    .order-block .inner {
        flex-wrap: nowrap;
    }

    body.is-service-page #right,
    body.is-contacts-page #right {
        margin-bottom: 70px;
    }
    body.is-service-page #content:before,
    body.is-contacts-page #content:before {
        height: 70px;
    }

    h1 {
        font-size: 50px;
    }

    .service-info-block blockquote {
        padding: 40px 50px;
        font-size: 22px;
        font-weight: normal;
    }
    .html-text h2 {
        font-size: 40px;
    }
    .html-text h3 {
        font-size: 30px;
    }

    .html-text {
        font-size: 19px;
    }

    .footer-block .logo img {
        width: 50px;
        height: 50px;
    }
    .footer-block .logo .name {
        font-size: 22px;
    }
    .footer-block .menus .title {
        font-size: 19px;
    }
    .footer-block .menus a {
        font-size: 17px;
    }
    .footer-block .menus li {
        margin-bottom: 11px;
    }
    .footer-block .menus li:last-child {
        margin-bottom: 0;
    }

    .right-menu-block a {
        font-size: 16px;
    }
    .right-menu-block svg {
        width: 18px;
        height: 18px;
    }

    .breadcrumb {
        font-size: 16px;
    }
    .news-list-item {
        padding: 35px;
    }
    .news-list-item .name a {
        font-size: 27px;
    }

    .doctors-list-item {
        margin-right: 30px;
        margin-bottom: 30px;
        width: 385px;
    }
    .doctors-list-item .img img {
        width: 100%;
        height: auto;
    }
    .doctors-list-item .img a:after {
        background-size: 100% 100%;
        bottom: -1px;
        left: -1px;
    }
    .doctors-list-item:after {
        height: 50px;
    }
    .doctors-list-item .info .name a {
        display: block;
        line-height: 1.4;
    }

    .page-info-block h1 {
        font-size: 50px;
    }

    .page-info-block .doctor-img {
        height: auto;
        bottom: -30px;
        margin: 0;
        overflow: hidden;
        right: -30px;
    }
    .page-info-block .doctor-img img {
        height: calc(100% - 30px);
        width: auto;
        position: relative;
        right: -130px;
    }
    .page-info-block .doctor-img:after {
        left: 130px;
    }

    .doctor-info-block .html-text .box {
        margin-bottom: 50px;
    }
    .doctor-info-block .html-text .box:last-child {
        margin-bottom: 0;
    }
    .doctor-info-block {
        margin-top: 70px;
    }

    .news-grid-item .name a {
        font-size: 27px;
    }
    .news-grid-item .text {
        font-size: 17px;
    }

    .news-block .inner .circle {
        top: -90px;
        right: -30px;
        overflow: hidden;
    }
    .news-block .inner .circle:after {
        top: 0;
    }

    .contacts-place-block {
        margin-bottom: 70px;
    }

}