@media screen and (max-width: 1640px) {

    .container,
    .container-big {
        width: auto;
        margin: 0 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .container .container,
    .container .container-big {
        width: auto;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .only-desktop {
        display: none;
    }
    .only-table {
        display: block;
    }
    .only-mobile {
        display: none;
    }

    .only-tablet-or-mobile {
        display: block;
    }
    .only-desktop-or-tablet {
        display: block;
    }

    body.has-sidebar #content > .container {
        display: block;
    }
    body.has-sidebar #content {
        background: none;
    }
    body.has-sidebar #content:after {
        display: none;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    #center {
        padding: 0;
    }

    #right {
        width: auto;
        min-width: unset;
    }

    #right .right-menu-block {
        display: none;
    }

    .header-block {
        padding: 9px 0;
    }
    .header-block .menu {
        display: none;
    }
    .header-block .logo .name {
        font-size: 18px;
    }
    .header-block .logo img {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .header-block .order {
        line-height: 38px;
        padding: 0 26px;
        font-size: 13px;
        margin: 0 28px;
    }
    .header-block .phone {
        font-size: 18px;
    }

    .menu-link {
        display: block;
        width: 32px;
        margin-left: 30px;
    }
    .menu-link span {
        display: block;
        height: 2px;
        background: #000;
        margin-bottom: 8px;
    }
    .menu-link span:last-child {
        margin-bottom: 0;
    }

    body.mobile-menu-open {
        height: 100vh;
        overflow: hidden;
    }

    .mobile-menu-block {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--color-main);
        z-index: 1;
        overflow: auto;
        padding: 50px 0;
        box-sizing: border-box;

        flex-direction: column;
        justify-content: space-between;

        display: none;

        z-index: 20;
    }

    .mobile-menu-block .header {
        margin-bottom: 50px;
    }

    body.mobile-menu-open .mobile-menu-block {
        display: flex;
    }

    .mobile-menu-block .order a {
        line-height: 48px;
        padding: 0 25px;
        font-size: 16px;
        font-weight: 600;
        background: #ffcdb4;
        border-radius: 100px;
        color: #8d4732;
    }
    .mobile-menu-block .order a:hover {
        background: #f5c1a7;
    }
    .mobile-menu-block .close {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .mobile-menu-block .close svg {
        width: 26px;
        height: 26px;
    }
    .mobile-menu-block .inner {
        max-width: 560px;
        margin: 0 auto;
    }
    .mobile-menu-block a {
        color: #ffffff;
        text-decoration: none;
    }
    .mobile-menu-block a:hover {
        text-decoration: underline;
    }
    .mobile-menu-block .menu {
        width: 280px;
    }
    .mobile-menu-block .menu > li {
        position: relative;
        margin-bottom: 30px;
    }
    .mobile-menu-block .menu > li:last-child {
        margin-bottom: 0;
    }
    .mobile-menu-block .menu > li > a {
        font-size: 22px;
        background: var(--color-main);
        position: relative;
        z-index: 1;
        padding-right: 30px;
    }
    .mobile-menu-block .menu > li > ul {
        position: absolute;
        left: 100%;
        top: 3px;
        display: none;
    }
    .mobile-menu-block .menu > li.open > ul {
        display: block;
    }
    .mobile-menu-block .menu > li > ul:after {
        content: '';
        width: 200px;
        top: 15px;
        right: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        margin-right: 30px;
    }
    .mobile-menu-block .menu > li > ul > li > a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
    }
    .mobile-menu-block .menu > li > ul > li {
        margin-bottom: 20px;
    }
    .mobile-menu-block .menu > li > ul > li:last-child {
        margin-bottom: 0;
    }

    .mobile-menu-block .logo {
        margin-bottom: 50px;
    }
    .mobile-menu-block .logo img {
        display: block;
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }
    .mobile-menu-block .logo .name {
        font-size: 23px;
    }

    .mobile-menu-block .phones {
        font-size: 26px;
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .mobile-menu-block .phones .sep {
        margin: 0 18px;
    }

    body.is-home-page .footer-block {
        padding-top: 0;
    }

    .footer-block .menus .title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer-block .menus li {
        margin-bottom: 10px;
    }
    .footer-block .menus a {
        font-size: 13px;
        display: block;
        line-height: 1.4;
    }
    .footer-block .phones {
        margin-bottom: 20px;
    }
    .footer-block .phone a {
        font-size: 16px;
        line-height: 1.5;
    }
    .footer-block .instagram {
        display: none;
    }
    .footer-block .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .footer-block .logo img {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .footer-block .logo .name {
        font-size: 16px;
        margin: 0;
    }
    .footer-block .copyright {
        font-size: 11px;
        margin-top: 10px;
    }
    .footer-block .copyright {
        max-width: unset;
    }
    .footer-block .logo-and-copyright {
        min-width: unset;
        width: auto;
    }

    .footer-block {
        margin-top: 30px;
        padding: 30px 0;
    }

    .slider-block .prev,
    .slider-block .next {
        display: none;
    }

    .slider-block .item .inner {
        justify-content: flex-start;
    }
    .slider-block .item .info {
        padding: 25px;
        width: auto;
        box-sizing: border-box;
    }
    .slider-block .item .info .header-text {
        font-size: 17px;
    }
    .slider-block .item .info .title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .slider-block .item .info .text {
        font-size: 14px;
        font-weight: normal;
    }
    .slider-block .item .info .more a {
        line-height: 38px;
        padding: 0 25px;
        font-size: 12px;
    }

    button.owl-dot span {
        width: 7px;
        height: 7px;
    }
    button.owl-dot {
        margin: 0 4px;
    }
    .dots {
        margin-top: 10px;
    }

    .block {
        margin: 40px 0;
    }
    .block-title {
        font-size: 40px;
    }

    .page {
        margin: 40px 0;
    }

    .services-block {
        margin: 30px 0;
    }
    .services-block .header {
        margin: 0 0 70px;
    }
    .services-block .header .block-title {
        width: 50%;
    }
    .services-block .header .block-title br {
        display: none;
    }
    .services-block .header .text {
        margin: 8px 0 0;
        font-size: 16px;
        width: 50%;
        line-height: 1.5;
    }
    .services-block .header .inner {
        flex-wrap: nowrap;
    }

    .services-block .items {
        width: 88%;
    }
    .services-block .item .name {
        top: 12px;
        left: 15px;
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: bold;
        display: block;
        line-height: 1.5;
    }
    .services-block .content .title {
        right: 90%;
        width: 380px;
        height: 380px;
        margin-right: -220px;
        top: -40px;
    }
    .services-block .content .title span {
        font-size: 40px;
        left: -62px;
    }
    .services-block .content {
        padding-bottom: 50px;
    }

    .out-target-block {
        padding: 0 0 70px;
        min-height: 0;
        background-size: auto 100%;
    }
    .out-target-block .text {
        margin: 15px 0 0;
        font-size: 18px;
        font-weight: normal;
        max-width: 65%;
    }
    .out-target-block .text p {
        margin-bottom: 15px;
    }
    .out-target-block .text p:last-child {
        margin-bottom: 0;
    }
    .out-target-block:after {
        height: 40px;
        width: 60%;
    }

    .doctors-block .nav svg {
        width: 70px;
    }
    .doctors-block .nav a {
        margin-right: 30px;
    }
    .doctors-block .nav a:last-child {
        margin-right: 0;
    }

    .doctors-list-item {
        width: 260px;
    }
    .doctors-list-item .img img {
        width: 100%;
        height: auto;
    }
    .doctors-list-item .img a:after {
        background-size: 100% 100%;
        bottom: -1px;
    }
    .doctors-list-item:after {
        height: 32px;
    }
    .doctors-list-item .info {
        padding: 0 20px 20px;
        margin-top: -20px;
    }
    .doctors-list-item .info .name {
        margin-bottom: 10px;
    }
    .doctors-list-item .info .name a {
        font-size: 15px;
        display: block;
        line-height: 1.4;
    }
    .doctors-list-item .experience {
        font-size: 15px;
    }
    .doctors-list-item .text {
        font-size: 12px;
    }
    .doctors-list-item .experience {
        font-size: 12px;
        margin: 8px 0;
    }
    .doctors-list-item .info .more {
        margin-right: 0;
    }
    .doctors-list-item .info .more svg {
        width: 40px;
        height: 20px;
    }

    .news-block {
        margin-top: 70px;
        padding-bottom: 10px;
    }
    .news-block:after {
        display: none;
    }
    .news-block .inner {
        padding-top: 22px;
    }
    .news-block .block-header {
        margin-bottom: 22px;
    }
    .news-block .all-link {
        margin: 0 55px 0 0;
    }
    .news-block .all-link a {
        font-size: 14px;
    }
    .news-block .all-link svg {
        width: 25px;
    }
    .news-block .news-grid {
        justify-content: space-between;
    }
    .news-block .news-grid-item {
        width: auto;
        margin: 0;
    }
    .news-block .news-grid-item {
        padding: 20px;
    }
    .news-block .inner .circle:after {
        content: '';
        position: absolute;
        width: 380px;
        height: 380px;
        right: -30px;
        top: -35px;
    }

    .news-grid-item .date {
        font-size: 11px;
        margin-bottom: 5px;
    }
    .news-grid-item .name a {
        font-size: 20px;
    }
    .news-grid-item .name {
        margin-bottom: 20px;
        min-height: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news-grid-item .text {
        font-size: 13px;
    }
    .news-grid-item .more svg {
        width: 40px;
        height: 20px;
    }

    .ui-dialog {
        padding: 30px 40px 40px;
    }
    .ui-dialog .ui-dialog-title {
        font-size: 24px;
    }

    .second-menu-block {
        background: #f8eee9;
    }
    .second-menu-block ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .second-menu-block li {
        margin-right: 15px;
    }
    .second-menu-block li:last-child {
        margin-right: 0;
    }
    .second-menu-block a {
        display: block;
        line-height: 46px;
        font-size: 15px;
        position: relative;
        color: #a74a2c;
        text-decoration: none;
        padding-bottom: 1px;
    }
    .second-menu-block li.active a:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: #a74a2c;
        height: 5px;
    }

    .second-menu-block .icon {
        width: 43px;
        height: 46px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background: #af775b;
    }
    .second-menu-block .icon span {
        width: 5px;
        height: 5px;
        background: #fff;
        margin: 2px 0;
        border-radius: 100px;
    }

    body.is-service-page .second-menu-block a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0;
    }

    .page-info-block .inner {
        min-height: 320px;
    }
    .page-info-block .info {
        padding: 22px 0;
        max-width: 45%;
    }
    .page-info-block .text {
        font-size: 17px;
        margin-top: 15px;
        line-height: 1.5;
        font-weight: normal;
    }
    .page-info-block .text p {
        margin-bottom: 10px;
    }
    .page-info-block .text p:last-child {
        margin-bottom: 0;
    }
    .page-info-block .text br {
        display: none;
    }
    .page-info-block .inner:after {
        background-size: auto 100% !important;
        background-position: right -300px center !important;
        height: 341px !important;
        right: -30px !important;
    }

    body.is-doctor-page .page-info-block h1 {
        font-size: 30px;
    }

    body.is-service-page .page-info-block .inner:after {
        background-position: right -150px center !important;
    }

    .page-info-block .breadcrumb {
        margin: 0 0 15px;
    }
    .page-info-block h1 {
        font-size: 40px;
    }

    .page-info-block .doctor-img {
        height: auto;
        bottom: -20px;
        margin: 0;
        overflow: hidden;
    }
    .page-info-block .doctor-img img {
        height: calc(100% - 21px);
        width: auto;
        position: relative;
        right: -80px;
    }
    .page-info-block .doctor-img:after {
        background-size: 100% 100%;
        width: 100%;
        height: auto;
        left: 80px;
        top: 0;
        bottom: 0;
    }

    .breadcrumb {
        font-size: 15px;
        margin: 25px 0 15px;
    }

    .contacts-block .item {
        flex-wrap: nowrap;
    }
    .contacts-block .item .value {
        font-size: 20px;
    }
    .contacts-block svg {
        width: 35px;
        height: 35px;
    }
    .contacts-block .svg-contacts-mail {
        width: 42px;
    }
    .contacts-block {
        padding: 30px;
    }
    .contacts-block .item .icon {
        width: 50px;
        height: 50px;
    }
    .contacts-block .item {
        margin-bottom: 10px;
    }
    .contacts-block .item:last-child {
        margin-bottom: 0;
    }
    .contacts-place-block .title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .contacts-place-block .title:after {
        margin-top: 17px;
    }
    .contacts-place-block .address,
    .contacts-place-block .metro {
        font-size: 18px;
    }
    .contacts-place-block .map {
        height: 350px;
    }
    .contacts-place-block {
        margin-bottom: 30px;
    }

    .service-header-image-block {
        margin-bottom: 30px;
    }

    .service-info-block {
        margin: 40px 0;
    }

    .inline-links {
        margin-bottom: 30px;
    }
    .inline-links a {
        line-height: 40px;
        font-size: 14px;
        padding: 0 30px;
    }

    .service-info-block .box {
        margin-bottom: 30px;
    }
    .service-info-block .box:last-child {
        margin-bottom: 0;
    }

    .service-info-block blockquote {
        padding: 22px 30px;
        font-size: 20px;
    }

    .html-text {
        font-size: 16px;
        line-height: 1.6;
    }
    .html-text h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .html-text h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .html-text li {
        margin-bottom: 8px;
    }

    .before-after {
        margin-left: -30px;
        margin-right: -30px;
        padding-bottom: 30px;
    }
    .before-after .name {
        font-size: 18px;
    }
    .before-after .name {
        line-height: 60px;
    }
    .before-after .before,
    .before-after .after {
        width: calc(50% - 15px);
    }
    .before-after:after {
        display: none;
    }

    .prices-box .item {
        padding: 10px 0;
        font-size: 16px;
    }

    .order-block {
        padding: 50px 30px;
    }
    .order-block .text {
        font-size: 25px;
    }

    .service-info-block .inline-links {
        display: none;
    }
    
    .block-header.has-bg {
        height: 250px;
        margin: 30px -30px 15px;
        padding: 30px;
        background-size: 100% 100%;
    }
    .block-header.has-bg .title {
        font-size: 35px;
    }

    .service-departments-block .item .name {
        font-size: 18px;
        margin-bottom: 8px;
        padding-left: 60px;
    }
    .service-departments-block .item .text {
        font-size: 14px;
        padding-left: 60px;
    }
    .service-departments-block .item .name:after {
        width: 30px;
        top: 13px;
    }
    .service-departments-block .items {
        margin: 0;
    }
    .service-departments-block .item {
        padding-right: 40px;
    }
    .service-departments-block .item {
        margin: 25px 0;
    }
    .service-departments-block .footer {
        margin-top: 30px;
    }

    .block.service-doctors-block {
        margin-bottom: 50px;
    }

    .service-doctors-block .items {
        margin-top: 40px;
    }
    .service-doctors-block .item {
        margin-bottom: 65px;
    }
    .service-doctors-block .item:last-child {
        margin-bottom: 0;
    }
    .service-doctors-block .item .img {
        width: 170px;
        min-width: 170px;
        margin: -12px 50px -30px 0;
    }
    .service-doctors-block .item .img a {
        width: 170px;
        height: auto;
        min-width: 170px;
    }
    .service-doctors-block .item .img a:after {
        background-size: 100% 100%;
    }
    .service-doctors-block .item .img img {
        width: 100%;
        height: auto;
    }
    .service-doctors-block .item .name {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .service-doctors-block .item .experience {
        font-size: 12px;
        margin: 8px 0;
    }
    .service-doctors-block .item .work {
        font-size: 14px;
    }
    .service-doctors-block .item .more {
        width: 40px;
        min-width: 40px;
    }
    .service-doctors-block .item .more svg {
        width: 35px;
        height: 20px;
    }

    .mobile-second-menu-block {
        display: none;
    }
    body.mobile-second-menu-open {
        height: 100vh;
        overflow: hidden;
    }
    body.mobile-second-menu-open .mobile-second-menu-block {
        display: block;
    }

    .mobile-second-menu-block .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 14;

        background-color: rgb(77, 70, 67);
        opacity: 0.502;
    }
    .mobile-second-menu-block .content {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 420px;
        z-index: 15;
        background: #f8eee9;
    }

    .mobile-second-menu-block .close {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .mobile-second-menu-block .close svg {
        width: 16px;
        height: 16px;
    }
    .mobile-second-menu-block .title {
        font-size: 26px;
        line-height: 1.25;
        padding: 30px 40px 25px;
    }
    .mobile-second-menu-block .right-menu-block a {
        padding-left: 40px;
        padding-right: 40px;
    }
    .mobile-second-menu-block .right-menu-block li {
        margin-bottom: 8px;
    }
    .mobile-second-menu-block .right-menu-block li:last-child {
        margin-bottom: 0;
    }
    .mobile-second-menu-block .right-menu-block li ul {
        margin-top: 8px;
    }
    .mobile-second-menu-block .right-menu-block li li {
        margin-bottom: 5px;
    }
    .mobile-second-menu-block .right-menu-block li li:last-child {
        margin-bottom: 0;
    }
    .mobile-second-menu-block .right-menu-block li li a {
        padding-left: 70px;
        font-size: 17px;
        font-weight: normal;
    }

    .doctor-info-block .inner {
        flex-wrap: wrap;
    }
    .doctor-info-block .back {
        width: 100%;
        order: 1;
        margin: 30px 0 0;

        display: flex;
        justify-content: center;
    }
    .doctor-info-block .back a {
        font-size: 15px;
    }
    .doctor-info-block .html-text .box {
        margin-bottom: 40px;
    }
    .doctor-info-block .html-text .box:last-child {
        margin-bottom: 0;
    }

    .news-list-item {
        padding: 30px;
        margin-bottom: 30px;
    }
    .news-list-item:last-child {
        margin-bottom: 0;
    }
    .news-list-item .date-and-category {
        font-size: 12px;
    }
    .news-list-item .name a {
        font-size: 22px;
    }
    .news-list-item .text {
        line-height: 1.6;
        font-size: 16px;
    }

    .news-list-item .more svg {
        width: 34px;
        height: 20px;
    }
    .news-list-item .more {
        margin-top: 20px;
    }
    .news-list-item .name {
        margin-bottom: 12px;
    }

    .pagination {
        justify-content: center;
    }

    .doctors-list:not(.owl-carousel) {
        margin: 0;
    }
    .doctors-list:not(.owl-carousel) .doctors-list-item {
        width: 285px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .doctors-list:not(.owl-carousel) .doctors-list-item .info .name a {
        font-size: 18px;
    }
    .doctors-list:not(.owl-carousel) .doctors-list-item:after {
        height: 36px;
    }

}